@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<br />
<h2>@ViewBag.Title</h2>

<p>
    <h4>What is a ticket management system? </h4>

    In its simplest form, a ticket management system is a piece of software used to organize issues. Create, update, and report. This can even include issues reported by internal employees.
    Each support ticket includes key information about a customer service issue. Assigned to different team members, it provides real-time status updates on the problem.
    An efficient ticket management system organizes information into a central location. It streamlines workflow. Eliminates manual processes, and improves communication between you and your customers.
    Basically, it should make your life easier. Make your business more productive, and keep your customers happy.
</p>